body, h1, h2, h3, ul, p {
  margin: 0;
}

button, input {
  padding: 0;
  border: none;
  color: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.menu {
  padding-top: 13px;

}

.burger {
  display: none;
}

.list-menu {
  display: flex;
  gap: 35px;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 13px;
}

.list-item:hover {
  text-decoration: underline;
  color: #eceded;
}

.header {
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 126px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-title {
  margin-top: 100px;
  font-family: "OpenSansBold", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  line-height: 75px;
}

.trend {
  display: flex;
  gap: 4px;
}

.title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 62px 0 0;
}

.title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 14px auto 32px;
  background-color: #cabb92;
}

.img-trend {
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 10px 22px 16px 19px;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  height: 320px;
}

.img-plants {
  background-image: url(../img/trend1.jpg); 
}

.ims-chees {
  background-image: url(../img/trend2.jpg);
}

.img-mountain {
  background-image: url(../img/trend3.jpg);
}

.img-mandarins {
  background-image: url(../img/trend4.jpg);
}

.img-trend::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  z-index: -1;
  
}

.trend-content {
  border: 4px solid #b59f5b;
  padding: 39px 90px 37px 33px; 
}

.trend-text {
  padding-top: 15px; 
  font-family: "OpenSansBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 62px 15px 0;
}

.post {
  display: flex;
}

.content {
  max-width: 367px;
  margin-left: 30px;
}

.post-image {
  width: 380px;
  max-height: 300px;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.link {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
  color: #cabb92;
}

.content-title {
  text-transform: uppercase;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 7px 0 27px;
  letter-spacing: 0.1px;
}

.content-link:hover {
  color: #b59f5b;
}

.time {
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 12px;
  color: #888888;
}

.text {
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  margin-top: 45px;
}

.text-second {
  margin-top: 10px;
}

.author {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  margin-left: 8px;
  font-style: normal;
}

.post:nth-child(n+2) {
  margin-top: 60px;
}

.sidebar {
  max-width: 270px;
}

.sidebar-title {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  margin-top: -3px;
}

.sidebar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 10px auto 20px;
  background-color: #cabb92;
}

.sidebar-news {
  display: flex;
  margin-top: 12px;
}

.sidebar-news:nth-of-type(1) {
  margin-top: 0;
}

.news-image {
  width: 71px;
  max-height: 70px;
  margin-top: 10px;
  margin-left: -3px;
}

.news-text {
  margin-left: 20px;
  margin-top: 3px;
}

.news-title {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 5px;
}

.news-link:hover {
  color: #b59f5b;
}

.search-block {
  margin-top: 60px;
}

.search-field {
    display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search {
  box-sizing: border-box;
  border: none;
  width: 220px;
  background-color: #f4f7f6;
  height: 48px;
  padding-left: 18px;
}

.search:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.search-button {
  background: #b59f5b;
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-button:hover {
  background: #323232;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.subscribe-block {
  margin-top: 58px;
}

.email-field {
  box-sizing: border-box;
  width: 270px;
  border: none;
  background-color: #f4f7f6;
  height: 48px;
  padding-left: 18px;
}

.email-field:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-button {
  background: #b59f5b;
  width: 270px;
  height: 48px;
  border: none;
  margin-top: 20px;
  margin-left: -1px;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-button:hover {
  background: #323232;
}


.tags {
  margin-top: 60px;
}

.tag-item {
  display: inline-block;
}

.tag-link {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  padding: 8px 14px;
  margin-right: 3px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 3px solid #f4f3f1;
  display: inline-block;
}

.tag-link:hover {
  color: #000;
}

.theme {
  margin-top: 49px;
}

.theme-item {
  border-bottom: 1px solid #eeeeee;
  border-color: #eeeeee;
  padding: 18px 0 15px 0;
}

.them-item-first {
  padding-top: 0;
}

.theme-link {
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.theme-link:nth-child(1) {
  padding-top: 0;
}

.theme-link:hover {
  color: #b59f5b;
}

.sup {
  color: #b59f5b;
  margin-left: 3px;
  margin-top: -7px;
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  
}

.products {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
  justify-content: space-around;
}

.product-image_help {
  padding: 10px 20px 10px 20px;
  position: relative;
  z-index: -1;
}

.product-content {
  box-sizing: border-box;
  border: 3px solid #b59f5b;
  width: 340px;
  min-height: 200px;
  margin-top: -50px;
  padding: 15px;
}

.product-title {
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "OpenSansBold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.product-text {
  display: block;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  margin-top: 5px;
}

.product-link {
  color: #bba76b;
  cursor: pointer;
}

.product-link:hover {
  text-decoration: underline;
}

.purchase {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price {
  display: block;
  font-family: "OpenSansBold", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.price-close {
  font-size: 14px;
  text-decoration: line-through;
}

.toshop {
  font-family: "OpenSansBold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  background: #b59f5b;
  cursor: pointer;
}

.toshop:hover {
  background: #323232;
}

.wrp_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
}

.popup {
  font-family: "OpenSansRegular", sans-serif;
  margin: auto;
  width: 380px;
  height: 620px;
  background: #ffffff;
  position: relative;
}

.popup_title {
  margin-top: 50px;
}

.popup_text {
  display: block;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 13px;
  margin-top: 40px;
  margin-right: 30px;
}

.popup_field {
  box-sizing: border-box;
  width: 320px;
  margin-left: 30px;
  border: none;
  background-color: #f4f7f6;
  height: 48px;
  padding-left: 18px;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center right 20px;
  font-size: 16px;
}

.popup_field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.radio_button {
  display: none;
}

.radio_text {
  margin-left: 30px;
  margin-top: 8px;
  cursor: pointer;
}

.radio_text-second {
  margin-left: 10px;
  margin-bottom: 40px;
}

.input_radio-text::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-right: 5px;
  
}

.radio_button:checked ~ .input_radio-text::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}

.feedback {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 16px;
  padding: 10px 0 0 10px;
  resize: none;
  margin: 0 30px;
  box-sizing: border-box;
  width: 320px;
  height: 130px;
  margin-left: 30px;
  border: none;
  background-color: #f4f7f6;
}

.feedback:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.feedback-button {
  width: 320px;
  margin-left: 30px;
  height: 60px;
  font-size: 18px;
  
}

.close-popup {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -28px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0);
}

._hidden {
  display: none;
}

.footer {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 15px;
  margin: 80px auto 74px;
  
}

.social-list {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: #f4f7f6;
  height: 83px;
  align-items: center;
  padding-left: 37px;
}

.social-item {
  padding-right: 30px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.copyright {
  max-width: 1200px;
  padding: 0 15px;
  margin: 74px auto 0;
  text-align: center;
  font-family: 'OpenSansBold', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #999999;
  padding-bottom: 40px;
}

@media (max-width: 1474px) {
  .trend {
    flex-wrap: wrap;
  }
  
  .img-trend {
    width: calc(50% - 2px);
  }
} 

@media (max-width: 1250px) {
  .wrap {
    padding-left: 35px;
    padding-right: 35px;
  }
  .products {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product {
    margin: 15px;
  }
}

@media (max-width: 1030px) {
  .post {
    display: block;
  }
  .content {
    margin-left: 0;
    margin-top: 5px;
  }
  .container {
    justify-content: space-around;
    padding: 62px 0 0 0;
  }

  .popup_field {
    font-size: 12px;
  }
  .input_radio-text::before{
    content: "";
    width: 17px;
    height: 17px;
  }
  .feedback {
    font-size: 12px;
  }

}


@media (max-width: 960px) {
  .header {
    width: 100%;
    background-image: url(../img/banner-bg-tablet.jpg);
  }

  .list-menu {
    display: none;
  }

  .burger {
    display: block;
    margin-top: -10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .header-title {
    font-size: 40px;
  }
  .title {
    font-size: 18px;
  }
  .trend-text {
    font-size: 17px;
  }
  .content-title {
    font-size: 17px;
  }
  .product-title {
    font-size: 17px;
  }
}


@media (max-width: 769px) {

}